NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://Admin_Dheerap:Mansi183@cluster1.j7g8k.mongodb.net/trackwise

# JWT
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
